In [1]:
import numpy as np
import pandas as pd

In [17]:
df = pd.DataFrame(np.arange(1, 10).reshape(3, 3))
df[3] = ['a', 'b', 'c']
df

   0  1  2  3
0  1  2  3  a
1  4  5  6  b
2  7  8  9  c

In [23]:
df[[3]]

   3
0  a
1  b
2  c

In [19]:
np.array((1, 2, 3))

array([1, 2, 3])

In [17]:
answers = np.array([])
answers = np.append(answers, [(1, 2)])
answers

array([1., 2.])

In [23]:
x = 1.3333333
a = 6 * x**5 + 4 * x**3 - 20 * x - 1
a

7.098762227160677

In [24]:
x = 1.24829
b = 6 * x**5 + 4 * x**3 - 20 * x - 1
b

0.0003262753936681406