In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.DataFrame({'a': [1, 2, 3, 4, 5], 'b': [True, True, False, True, False]})
df

   a      b
0  1   True
1  2   True
2  3  False
3  4   True
4  5  False

In [5]:
df.a[df.b]

0    1
1    2
3    4
Name: a, dtype: int64

In [7]:
df.query('b').a

0    1
1    2
3    4
Name: a, dtype: int64