In [2]:
import numpy as np
import pandas as pd

In [17]:
df = pd.DataFrame(np.arange(1, 10).reshape(3, 3))
df[3] = ['a', 'b', 'c']
df

   0  1  2  3
0  1  2  3  a
1  4  5  6  b
2  7  8  9  c

In [23]:
df[[3]]

   3
0  a
1  b
2  c