In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('BlackFriday.csv')

In [3]:
data

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
0,1000001,P00069042,F,0-17,10,A,2,0,3,NaN,NaN,8370
1,1000001,P00248942,F,0-17,10,A,2,0,1,6.0,14.0,15200
2,1000001,P00087842,F,0-17,10,A,2,0,12,NaN,NaN,1422
3,1000001,P00085442,F,0-17,10,A,2,0,12,14.0,NaN,1057
4,1000002,P00285442,M,55+,16,C,4+,0,8,NaN,NaN,7969
...,...,...,...,...,...,...,...,...,...,...,...,...
537572,1004737,P00193542,M,36-45,16,C,1,0,1,2.0,NaN,11664
537573,1004737,P00111142,M,36-45,16,C,1,0,1,15.0,16.0,19196
537574,1004737,P00345942,M,36-45,16,C,1,0,8,15.0,NaN,8043
537575,1004737,P00285842,M,36-45,16,C,1,0,5,NaN,NaN,7172
537576,1004737,P00118242,M,36-45,16,C,1,0,5,8.0,NaN,6875

In [4]:
type(data)

pandas.core.frame.DataFrame

## 0)
Сколько всего возрастных категорий?

In [5]:
data.Age.nunique()

7

In [6]:
data.Age.unique()

array(['0-17', '55+', '26-35', '46-50', '51-55', '36-45', '18-25'],
      dtype=object)

# МОИ РЕШЕНИЯ

## 1)
Сколько строк с мужчинами из категории города A? (речь не об уникальных ID мужчин, а о количестве строк)

In [20]:
data.query("Gender == 'M' and City_Category == 'A'").count()

User_ID                       109831
Product_ID                    109831
Gender                        109831
Age                           109831
Occupation                    109831
City_Category                 109831
Stay_In_Current_City_Years    109831
Marital_Status                109831
Product_Category_1            109831
Product_Category_2             73729
Product_Category_3             31850
Purchase                      109831
dtype: int64

## 2)
Сколько женщин от 46 до 50, потративших (столбец Purchase) больше 20000 (условных единиц, в данном случае)? (речь не об уникальных ID, а о количестве строк)

In [16]:
data.query("Gender == 'F' and Age == '46-50' and Purchase > 20000").count()

User_ID                       270
Product_ID                    270
Gender                        270
Age                           270
Occupation                    270
City_Category                 270
Stay_In_Current_City_Years    270
Marital_Status                270
Product_Category_1            270
Product_Category_2            166
Product_Category_3             73
Purchase                      270
dtype: int64

## 3)
Сколько NaN'ов в столбце Product_Category_3?

In [22]:
data.Product_Category_3.isna().sum()

373299

## 4)
Какую долю (вещественное число от 0 до 1, округлить до 4-го знака) от всех покупателей составляют ВМЕСТЕ мужчины от 26 до 35 лет и женщины старше 36 лет (то есть нужно учесть несколько возрастных категорий)? (речь не об уникальных ID, а о количестве таких строк)

In [58]:
data_grouped = data.groupby(['Gender', 'Age'], as_index=False).agg('count')

In [53]:
data_grouped.query("Gender == 'M' \
                    and Age == '26-35' \
                    or Gender == 'F' \
                    and Age in ['55+', '46-50', '51-55', '36-45']")\
            .Purchase\
            .sum() \
/ data.shape[0]

0.4077201963625676

In [57]:
data.Age == '26-35'

0         False
1         False
2         False
3         False
4         False
          ...
537572    False
537573    False
537574    False
537575    False
537576    False
Name: Age, Length: 537577, dtype: bool

-------------------------------------------------------------------------------

-------------------------------------------------------------------------------

-------------------------------------------------------------------------------

#### Вопрос

О чём данные? (Hint: https://www.kaggle.com/sdolezel/black-friday)

---

#### Основное задание (в тесте надо будет вставлять ответы для этих пунктов):

*Примечание:* не бойтесь гуглить и заглядывать в "Полезные ссылки" для того, чтобы выполнить какие-то задания. Возможно, на семинаре не было какого-то нужного метода, но он находится в поисковике за 2 минуты.

**0).** Сколько всего возрастных категорий?

In [ ]:
# Ваш код здесь

**1).** Сколько строк с мужчинами из категории города A? (речь не об уникальных ID мужчин, а о количестве строк)

In [ ]:
# Ваш код здесь

**2).** Сколько женщин от 46 до 50, потративших (столбец Purchase) больше 20000 (условных единиц, в данном случае)?   (речь не об уникальных ID, а о количестве строк)

In [ ]:
# Ваш код здесь

**3).** Сколько NaN'ов в столбце Product_Category_3?

In [ ]:
# Ваш код здесь

**4).** Какую долю (вещественное число от 0 до 1, округлить до 4-го знака) от всех покупателей составляют ВМЕСТЕ мужчины от 26 до 35 лет и женщины старше 36 лет (то есть нужно учесть несколько возрастных категорий)? (речь не об уникальных ID, а о количестве таких строк)

In [ ]:
# Ваш код здесь

---

Больше про pandas можно найти по этом полезным ссылкам:

* Официальные туториалы: http://pandas.pydata.org/pandas-docs/stable/tutorials.html

* Статья на Хабре от [OpenDataScience сообщества](http://ods.ai/)**:** https://habr.com/company/ods/blog/322626/

* Подробный гайд: https://media.readthedocs.org/pdf/pandasguide/latest/pandasguide.pdf

Главное в работе с новыми библиотеками -- не бояться тыкать в разные функции, смотреть типы возвращаемых объектов и активно пользоваться Яндексом, а ещё лучше понимать всё из docstring'а (`Shift+Tab` при нахождении курсора внутри скобок функции).